<!DOCTYPE html>
<html  lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>上传Excel页面</title>
</head>
<body>

<form  action="/import" method="post" enctype="multipart/form-data" >
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            用户全流程服务跟踪表：<input type="file" name="userFile" value="选择"/>
            <br />
            <br />
            顾问服务客户数据表： <input type="file" name="customerFile" value="选择"/>
            <br />
            <input class="btn btn-primary" type="submit" value="上传"/>
        </div>
    </div>
</form>


<script type="text/javascript">
</script>

</body>
</html>